a{
    color: #fff;
}

/*============================== Social Classes==========================*/
.facebook:hover{
        background-color: #3b5998;
        
}
.twiter:hover{
        background-color:#1da1f2;
        
}
.linkedin:hover{
        background-color: #007bb5;
        
}
.google:hover{
        background-color: #4285f4;
        
}
.youtube:hover{
    background-color: #ff0000;
    
}
.massage:hover{
        background-color: #c32aa3;
        
}
.facebook:hover a,
.twiter:hover a,
.linkedin:hover a,
.google:hover a,
.youtube:hover a,
.massage:hover a{
    color: #fff;
}


.facebook,
.twiter,
.linkedin,
.google,
.youtube,
.massage{
transition: .3s;
}
/*===========================Team section global classes====================*/

.team-section{
        width: 250px;
        height: auto;
        margin: 50px auto;
        position: relative;
       
    
}

.team-member-hover {
    opacity: 0;
}


.badge {
    position: absolute;
    width: 60%;
    color: #fff;
    background: #0e8c3b;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    transform: rotate(42deg);
    z-index: 100;
}


/*=======================team member with badge and hover css================================*/

.team-member-section-with-badge-hover{
    overflow: hidden;
}
.team-member-section-with-badge-hover .badge{
    right: -35px;
    top: 27px;
}



.member-properties {
    /* background: #ccc; */
    text-align: center;
    overflow: hidden;
}

.team-member-appearance {
    width: 250px;
    position: relative;
}

.member-img>img {
    width: 250px;
    height: auto;
}

.member-img {
    width: 250px;
    height: 230px;
    overflow: hidden;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

h3 {
    margin: 10px;
    font-size: 18px;
}

p.position {
    font-style: italic;
    font-size: 18px;
}


.team-member-section-with-badge-hover .team-member-hover {
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 0;
    background: #312c2cb0;
    height: 190px;
    width: 210px;
    color: #fff;
    padding: 20px;
    transition: 0.5s transform ease-in;
    z-index: 99;
}

.team-member-section-with-badge-hover:hover .team-member-hover {
 opacity: 1;
 transform: translateY(-100px);
}

.member-desc {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}


.members-social-icons ul {
    list-style: none;
}

.members-social-icons ul>li {
    display: inline-block;
    border: 1px solid #fff;
    width: 30px;
    height: 28px;
    padding-top: 7px;
    text-align: center;
    margin: 20px 2px;
}

.members-social-icons ul>li>a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
a.social-icon-link {
    /* border: 1px solid white; */
}